[push]
	default = current
[alias]
	lo = log --oneline --format=\"%C(auto)%h%d %s %C(blue)(%cr)%C(reset)\" -5
	new = checkout -b
	amend = commit --amend -C HEAD
	discard = checkout HEAD
	autosquash = rebase -i --autosquash
	fixup = commit --fixup

[core]
    pager = delta
	autocrlf = input
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[branch]
	autosetuprebase = always

[user]
	email = julian.lo@gmail.com
	name = Julian Lo
