[include]
	path = ~/.gitconfig.local

[push]
	default = current
[alias]
    lo = log --pretty=format:'%C(yellow)%h %C(green)[%ar] %C(auto)%s%d' -5 --decorate
	new = checkout -b
	amend = commit --amend -C HEAD
	discard = checkout HEAD
	autosquash = rebase -i --autosquash
	fixup = commit --fixup
    headup = checkout HEAD^ --

[core]
    pager = delta
    excludesfile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
